body {
  background: #121212;
  color: white;
  font-family: Arial;
}

.App {
  padding: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00b894;
  border: none;
  color: white;
}

.result-box {
  margin-top: 20px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
}
